* {
  color: black;
  font-family: sans-serif;
}
.header {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
.navbar {
  flex: 1;
  padding-left: 20px;
}
nav {
  text-align: right;
}
nav ul {
  list-style-type: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
}
.current-page {
  background-color: #ffff00;
  font-weight: bold;
}

.header h1 {
  font-weight: normal;
  padding-top: 40px;
}
