* {
  color: black;
  font-family: sans-serif;
}
.header {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 30px 30px 60px 30px;
}
.navbar {
  flex: 1;
  padding-left: 20px;
}

.navbar hr {
  border-top: 4px solid;
}
nav {
  text-align: right;
}
nav ul {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 20px;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
}
.current-page {
  background-color: #ffff00;
  font-weight: bold;
}

.header h1 {
  font-weight: normal;
  padding-top: 40px;
}

.gallery {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 330px;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 300px;
}

.product {
  height: 100px;
  /* border-style: solid; */
  /* border-color: blue; */
  margin: 20px;
}
.product h2 {
  font-weight: bold;
  font-size: 22px;
}

.product img {
  max-width: 100%;
  border: 3px solid;
}

.product table {
  width: 100%;
}

.product input[type='radio'] {
  display: none;
}

.size_menu {
  border-style: solid;
  border-width: 2px;
  padding: 8px;
}

.product input[type='radio']:checked + label {
  background-color: #c0c0c0;
}

.product select {
  appearance: none;
  padding: 3px;
  border-width: 2px;
  border-color: black;
  width: 139px;
  height: 35px;
  background: url(https://www.shareicon.net/data/16x16/2015/09/15/640844_down_512x512.png) no-repeat calc(100% - 4px);
}

.product input[type='submit'] {
  border-width: 2px;
  border-color: black;
  width: 139px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 22px;
}

.product input[type='submit']:hover {
  background-color: #ffff00;
}
